# COVID-19 India Matplotlib Overview (Updated Daily)
> Tracking coronavirus total cases, deaths and new cases in India

- toc:true
- branch: master
- badges: true
- comments: true
- author: PrasannaDK
- categories: [fastpages, jupyter]
- date: 2020-08-08

In [45]:
#hide

## Import essential packages below

import pandas as pd
import numpy as np
import requests
#import json
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import matplotlib as mpl
from IPython.core.display import display,HTML
from datetime import datetime
%matplotlib inline

In [46]:
#hide
#httpRequest = requests.get('https://api.covid19india.org/csv/latest/state_wise.csv')

In [47]:
#hide
#httpResponse = httpRequest.content
#httpResponse

In [48]:
#hide
# csv_file = open('data/downloaded_Snapshot.csv', 'wb')
# csv_file.write(httpResponse)
# csv_file.close()

In [49]:
#hide
#dft_downloaded = pd.read_csv('data/downloaded_Snapshot.csv', 'wb')

In [50]:
#hide
httpRequest = requests.get('https://api.covid19india.org/states_daily.json')

In [51]:
#hide
httpResponse = httpRequest.json()
httpResponse['states_daily'][-1:-4:-1]

[{'an': '1',
  'ap': '97',
  'ar': '0',
  'as': '8',
  'br': '19',
  'ch': '1',
  'ct': '3',
  'date': '08-Aug-20',
  'dd': '0',
  'dl': '16',
  'dn': '0',
  'ga': '2',
  'gj': '23',
  'hp': '0',
  'hr': '7',
  'jh': '9',
  'jk': '10',
  'ka': '93',
  'kl': '4',
  'la': '0',
  'ld': '0',
  'mh': '275',
  'ml': '1',
  'mn': '1',
  'mp': '15',
  'mz': '0',
  'nl': '0',
  'or': '15',
  'pb': '23',
  'py': '5',
  'rj': '11',
  'sk': '0',
  'status': 'Deceased',
  'tg': '14',
  'tn': '118',
  'tr': '1',
  'tt': '875',
  'un': '0',
  'up': '47',
  'ut': '5',
  'wb': '51'},
 {'an': '75',
  'ap': '9151',
  'ar': '104',
  'as': '1782',
  'br': '2408',
  'ch': '52',
  'ct': '263',
  'date': '08-Aug-20',
  'dd': '0',
  'dl': '1130',
  'dn': '51',
  'ga': '207',
  'gj': '1135',
  'hp': '127',
  'hr': '587',
  'jh': '834',
  'jk': '449',
  'ka': '5006',
  'kl': '1715',
  'la': '20',
  'ld': '0',
  'mh': '11081',
  'ml': '12',
  'mn': '1',
  'mp': '732',
  'mz': '8',
  'nl': '69',
  'or': '1544',
  'pb': '820',
  'py': '140',
  'rj': '968',
  'sk': '11',
  'status': 'Recovered',
  'tg': '1091',
  'tn': '5043',
  'tr': '224',
  'tt': '52135',
  'un': '0',
  'up': '2999',
  'ut': '232',
  'wb': '2064'},
 {'an': '129',
  'ap': '10080',
  'ar': '68',
  'as': '2218',
  'br': '3992',
  'ch': '52',
  'ct': '447',
  'date': '08-Aug-20',
  'dd': '0',
  'dl': '1404',
  'dn': '51',
  'ga': '259',
  'gj': '1101',
  'hp': '114',
  'hr': '789',
  'jh': '986',
  'jk': '463',
  'ka': '7178',
  'kl': '1420',
  'la': '25',
  'ld': '0',
  'mh': '12822',
  'ml': '17',
  'mn': '169',
  'mp': '859',
  'mz': '8',
  'nl': '31',
  'or': '1643',
  'pb': '998',
  'py': '261',
  'rj': '1171',
  'sk': '6',
  'status': 'Confirmed',
  'tg': '2256',
  'tn': '5883',
  'tr': '146',
  'tt': '65156',
  'un': '0',
  'up': '4660',
  'ut': '501',
  'wb': '2949'}]

In [52]:
#hide
raw_json = httpResponse['states_daily'].copy()
raw_json[0]

{'an': '0',
 'ap': '1',
 'ar': '0',
 'as': '0',
 'br': '0',
 'ch': '0',
 'ct': '0',
 'date': '14-Mar-20',
 'dd': '0',
 'dl': '7',
 'dn': '0',
 'ga': '0',
 'gj': '0',
 'hp': '0',
 'hr': '14',
 'jh': '0',
 'jk': '2',
 'ka': '6',
 'kl': '19',
 'la': '0',
 'ld': '0',
 'mh': '14',
 'ml': '0',
 'mn': '0',
 'mp': '0',
 'mz': '0',
 'nl': '0',
 'or': '0',
 'pb': '1',
 'py': '0',
 'rj': '3',
 'sk': '0',
 'status': 'Confirmed',
 'tg': '1',
 'tn': '1',
 'tr': '0',
 'tt': '81',
 'un': '0',
 'up': '12',
 'ut': '0',
 'wb': '0'}

In [53]:
#hide
dt_today = raw_json[-1]['date']
dt_yday = raw_json[-4]['date']
dt_today, dt_yday

('08-Aug-20', '07-Aug-20')

In [54]:
#hide
# latest_cases = np.zeros(len(raw_json[0])-2)
# latest_deaths = np.array(len(raw_json[0])-2)
# prev_cases = np.array(len(raw_json[0])-2)
# prev_deaths = np.array(len(raw_json[0])-2)
# latest_date, prev_date = None, None
dft_cases, dft_deaths = pd.DataFrame(), pd.DataFrame()
for i in range(0, len(raw_json)):
    jsonObj = raw_json[i]
    date = jsonObj.pop('date', 'None')
    status = jsonObj.pop('status', 'None')
    dft = pd.DataFrame(data = jsonObj.values(), index = jsonObj.keys(), columns = [date], dtype=np.int64) 
    if status == 'Confirmed':
        #print('conf')
        dft_cases = pd.concat([dft_cases, dft], axis=1)
    elif status == 'Deceased':
        dft_deaths = pd.concat([dft_deaths, dft], axis=1)
dft_cases.head(), dft_deaths.head()

(    14-Mar-20  15-Mar-20  16-Mar-20  17-Mar-20  18-Mar-20  19-Mar-20  \
 an          0          0          0          0          0          0
 ap          1          0          0          0          0          2
 ar          0          0          0          0          0          0
 as          0          0          0          0          0          0
 br          0          0          0          0          0          0

     20-Mar-20  21-Mar-20  22-Mar-20  23-Mar-20  ...  30-Jul-20  31-Jul-20  \
 an          0          0          0          0  ...         42         78
 ap          0          2          1          1  ...      10167      10376
 ar          0          0          0          0  ...         74        107
 as          0          0          0          0  ...       2112       1862
 br          0          0          2          1  ...       2082       2986

     01-Aug-20  02-Aug-20  03-Aug-20  04-Aug-20  05-Aug-20  06-Aug-20  \
 an         88         98         96         98         99         96
 ap       9276       8555       7822       9747      10128      10328
 ar         83         24         60         32         65         93
 as       1457       1178       2371       2886       2284       2372
 br       3521       2762       2297       2464       2701       3416

     07-Aug-20  08-Aug-20
 an         99        129
 ap      10171      10080
 ar        101         68
 as       2679       2218
 br       3646       3992

 [5 rows x 148 columns],
     14-Mar-20  15-Mar-20  16-Mar-20  17-Mar-20  18-Mar-20  19-Mar-20  \
 an          0          0          0          0          0          0
 ap          0          0          0          0          0          0
 ar          0          0          0          0          0          0
 as          0          0          0          0          0          0
 br          0          0          0          0          0          0

     20-Mar-20  21-Mar-20  22-Mar-20  23-Mar-20  ...  30-Jul-20  31-Jul-20  \
 an          0          0          0          0  ...          1          2
 ap          0          0          0          0  ...         68         68
 ar          0          0          0          0  ...          0          0
 as          0          0          0          0  ...          2          4
 br          0          0          1          0  ...         12         13

     01-Aug-20  02-Aug-20  03-Aug-20  04-Aug-20  05-Aug-20  06-Aug-20  \
 an          2          1          2          2          2          2
 ap         58         67         63         67         77         72
 ar          0          0          0          0          0          0
 as          3          4          4          6          6          5
 br         14         10         14         13         20         19

     07-Aug-20  08-Aug-20
 an          3          1
 ap         89         97
 ar          0          0
 as          6          8
 br         12         19

 [5 rows x 148 columns])

In [55]:
#hide
dft_cases = dft_cases.cumsum(axis = 1, skipna = True)
dft_cases

,14-Mar-20,15-Mar-20,16-Mar-20,17-Mar-20,18-Mar-20,19-Mar-20,20-Mar-20,21-Mar-20,22-Mar-20,23-Mar-20,...,30-Jul-20,31-Jul-20,01-Aug-20,02-Aug-20,03-Aug-20,04-Aug-20,05-Aug-20,06-Aug-20,07-Aug-20,08-Aug-20
an,0,0,0,0,0,0,0,0,0,0,...,466,544,632,730,826,924,1023,1119,1218,1347
ap,1,1,1,1,1,3,3,5,6,7,...,130557,140933,150209,158764,166586,176333,186461,196789,206960,217040
ar,0,0,0,0,0,0,0,0,0,0,...,1484,1591,1674,1698,1758,1790,1855,1948,2049,2117
as,0,0,0,0,0,0,0,0,0,0,...,38306,40168,41625,42803,45174,48060,50344,52716,55395,57613
br,0,0,0,0,0,0,0,0,2,3,...,48001,50987,54508,57270,59567,62031,64732,68148,71794,75786
ch,0,0,0,0,0,1,5,5,6,7,...,1016,1051,1079,1117,1160,1206,1270,1327,1374,1426
ct,0,0,0,0,0,1,1,1,1,1,...,8856,9192,9427,9608,9820,10202,10497,11020,11408,11855
dd,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
dl,7,7,7,8,10,14,20,27,27,30,...,134403,135598,136716,137677,138482,139156,140232,141531,142723,144127
dn,0,0,0,0,0,0,0,0,0,0,...,1105,1151,1196,1251,1286,1329,1374,1417,1461,1512
ga,0,0,0,0,0,0,0,0,0,0,...,5704,5913,6193,6530,6816,7075,7423,7614,7947,8206
gj,0,0,0,0,0,2,7,14,18,30,...,60285,61438,62574,63675,64684,65704,66777,67811,68885,69986
hp,0,0,0,0,0,0,2,2,2,3,...,2506,2564,2634,2703,2818,2879,2916,3047,3150,3264
hr,14,14,14,15,16,17,19,21,21,28,...,34254,34965,35758,36519,37173,37796,38548,39303,40054,40843
jh,0,0,0,0,0,0,0,0,0,0,...,10399,11314,12104,12559,13500,14070,15048,15756,16482,17468
jk,2,2,3,3,4,4,4,4,4,4,...,19869,20359,20972,21416,22006,22396,22955,23454,23927,24390
ka,6,6,7,9,14,15,15,20,26,33,...,118632,124115,129287,134819,139571,145830,151449,158254,164924,172102
kl,19,24,27,27,27,28,40,52,67,95,...,22304,23614,24743,25912,26873,27956,29151,30449,31700,33120
la,0,0,0,0,8,8,10,13,13,13,...,1378,1404,1462,1466,1485,1534,1592,1595,1614,1639
ld,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
mh,14,32,38,41,44,48,52,64,74,97,...,411798,422118,431719,441228,450196,457956,468265,479779,490262,503084
ml,0,0,0,0,0,0,0,0,0,0,...,803,823,856,874,902,917,939,990,1006,1023
mn,0,0,0,0,0,0,0,0,0,0,...,2505,2621,2756,2831,2920,3018,3093,3217,3466,3635
mp,0,0,0,0,0,0,4,4,6,6,...,30968,31806,32614,33535,34285,35082,35734,36564,37298,38157
mz,0,0,0,0,0,0,0,0,0,0,...,408,408,413,470,496,502,505,538,559,567
nl,0,0,0,0,0,0,0,0,0,0,...,1566,1693,1831,1935,2129,2405,2498,2580,2657,2688
or,0,0,1,1,2,2,2,2,2,2,...,30378,31877,33479,34913,36297,37681,39018,40717,42550,44193
pb,1,1,1,1,2,2,3,13,21,23,...,15456,16119,17063,17853,18527,19015,19856,20891,21930,22928
py,0,0,1,1,1,1,1,1,1,1,...,3300,3474,3608,3808,3984,4149,4435,4623,4864,5125
rj,3,4,4,4,7,9,17,24,28,32,...,40936,42083,43243,44410,45555,46679,47845,48996,50157,51328
sk,0,0,0,0,0,0,0,0,0,0,...,623,652,663,671,701,796,813,842,867,873
tg,1,3,4,5,13,16,19,21,27,33,...,60717,62703,64786,66677,67660,68946,70958,73050,75257,77513
tn,1,1,1,1,2,3,3,6,9,12,...,239978,245859,251738,257613,263222,268285,273460,279144,285024,290907
tr,0,0,0,0,0,0,0,0,0,0,...,4722,4996,5248,5389,5389,5520,5642,5740,5868,6014
tt,81,108,123,134,171,198,256,334,401,503,...,1639476,1696962,1752079,1804751,1855239,1906521,1963147,2025317,2086772,2151928
un,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
up,12,13,13,15,17,20,24,28,30,32,...,81039,85461,89048,92921,97362,100310,104388,108974,113378,118038
ut,0,0,1,1,2,3,3,3,3,4,...,7065,7183,7447,7593,7800,8008,8254,8623,8901,9402
wb,0,0,0,1,1,1,2,4,7,7,...,67692,70188,72777,75516,78232,80984,83800,86754,89666,92615

In [56]:
#hide
dft_deaths = dft_deaths.cumsum(axis = 1, skipna = True)
dft_deaths

,14-Mar-20,15-Mar-20,16-Mar-20,17-Mar-20,18-Mar-20,19-Mar-20,20-Mar-20,21-Mar-20,22-Mar-20,23-Mar-20,...,30-Jul-20,31-Jul-20,01-Aug-20,02-Aug-20,03-Aug-20,04-Aug-20,05-Aug-20,06-Aug-20,07-Aug-20,08-Aug-20
an,0,0,0,0,0,0,0,0,0,0,...,3,5,7,8,10,12,14,16,19,20
ap,0,0,0,0,0,0,0,0,0,0,...,1281,1349,1407,1474,1537,1604,1681,1753,1842,1939
ar,0,0,0,0,0,0,0,0,0,0,...,3,3,3,3,3,3,3,3,3,3
as,0,0,0,0,0,0,0,0,0,0,...,98,102,105,109,113,119,125,130,136,144
br,0,0,0,0,0,0,0,0,1,1,...,285,298,312,322,336,349,369,388,400,419
ch,0,0,0,0,0,0,0,0,0,0,...,14,15,18,19,19,20,20,20,23,24
ct,0,0,0,0,0,0,0,0,0,0,...,51,54,55,58,61,69,71,77,87,90
dd,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
dl,1,1,1,1,1,1,1,1,1,1,...,3936,3963,3989,4004,4021,4033,4044,4059,4082,4098
dn,0,0,0,0,0,0,0,0,0,0,...,2,2,2,2,2,2,2,2,2,2
ga,0,0,0,0,0,0,0,0,0,0,...,42,45,48,53,56,60,64,66,70,72
gj,0,0,0,0,0,0,0,0,1,1,...,2418,2440,2464,2486,2508,2533,2556,2583,2605,2628
hp,0,0,0,0,0,0,0,0,0,1,...,13,13,13,13,13,13,13,13,13,13
hr,0,0,0,0,0,0,0,0,0,0,...,417,421,428,433,440,448,455,458,467,474
jh,0,0,0,0,0,0,0,0,0,0,...,103,106,114,118,125,129,136,145,151,160
jk,0,0,0,0,0,0,0,0,0,0,...,365,377,388,396,407,417,426,436,449,459
ka,1,1,1,1,1,1,1,1,1,1,...,2237,2321,2419,2503,2601,2711,2811,2904,3005,3098
kl,0,0,0,0,0,0,0,0,0,0,...,71,74,82,83,85,88,95,98,103,107
la,0,0,0,0,0,0,0,0,0,0,...,7,7,7,7,7,7,7,7,9,9
ld,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
mh,0,0,0,1,1,1,1,1,2,2,...,14728,14993,15315,15575,15841,16141,16475,16791,17091,17366
ml,0,0,0,0,0,0,0,0,0,0,...,5,5,5,5,5,5,5,5,5,6
mn,0,0,0,0,0,0,0,0,0,0,...,4,5,6,7,7,7,7,8,10,11
mp,0,0,0,0,0,0,0,0,0,0,...,858,868,877,887,901,913,930,947,963,978
mz,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
nl,0,0,0,0,0,0,0,0,0,0,...,4,4,4,4,4,4,6,6,7,7
or,0,0,0,0,0,0,0,0,0,0,...,205,214,225,236,248,258,269,280,292,307
pb,0,0,0,0,0,1,1,1,1,1,...,370,386,405,423,442,462,491,517,539,562
py,0,0,0,0,0,0,0,0,0,0,...,48,49,51,52,56,58,65,70,75,80
rj,0,0,0,0,0,0,0,0,0,0,...,667,680,694,706,719,732,745,757,767,778
sk,0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
tg,0,0,0,0,0,0,0,0,0,0,...,505,519,530,540,551,563,576,589,601,615
tn,0,0,0,0,0,0,0,0,0,0,...,3841,3935,4034,4132,4241,4349,4461,4571,4690,4808
tr,0,0,0,0,0,0,0,0,0,0,...,21,21,23,27,27,28,30,31,36,37
tt,2,2,2,3,3,4,4,4,7,9,...,35801,36565,37419,38179,38985,39834,40753,41652,42589,43464
un,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
up,0,0,0,0,0,0,0,0,0,0,...,1587,1630,1677,1730,1778,1817,1857,1918,1981,2028
ut,0,0,0,0,0,0,0,0,0,0,...,76,80,83,86,90,95,98,102,112,117
wb,0,0,0,0,0,0,0,0,0,1,...,1536,1581,1629,1678,1731,1785,1846,1902,1954,2005

In [57]:
#hide
dft_cases = dft_cases.reset_index().rename(columns={'index':'states'})
dft_deaths = dft_deaths.reset_index().rename(columns={'index':'states'})
dft_cases, dft_deaths

(   states  14-Mar-20  15-Mar-20  16-Mar-20  17-Mar-20  18-Mar-20  19-Mar-20  \
 0      an          0          0          0          0          0          0
 1      ap          1          1          1          1          1          3
 2      ar          0          0          0          0          0          0
 3      as          0          0          0          0          0          0
 4      br          0          0          0          0          0          0
 5      ch          0          0          0          0          0          1
 6      ct          0          0          0          0          0          1
 7      dd          0          0          0          0          0          0
 8      dl          7          7          7          8         10         14
 9      dn          0          0          0          0          0          0
 10     ga          0          0          0          0          0          0
 11     gj          0          0          0          0          0          2
 12     hp          0          0          0          0          0          0
 13     hr         14         14         14         15         16         17
 14     jh          0          0          0          0          0          0
 15     jk          2          2          3          3          4          4
 16     ka          6          6          7          9         14         15
 17     kl         19         24         27         27         27         28
 18     la          0          0          0          0          8          8
 19     ld          0          0          0          0          0          0
 20     mh         14         32         38         41         44         48
 21     ml          0          0          0          0          0          0
 22     mn          0          0          0          0          0          0
 23     mp          0          0          0          0          0          0
 24     mz          0          0          0          0          0          0
 25     nl          0          0          0          0          0          0
 26     or          0          0          1          1          2          2
 27     pb          1          1          1          1          2          2
 28     py          0          0          1          1          1          1
 29     rj          3          4          4          4          7          9
 30     sk          0          0          0          0          0          0
 31     tg          1          3          4          5         13         16
 32     tn          1          1          1          1          2          3
 33     tr          0          0          0          0          0          0
 34     tt         81        108        123        134        171        198
 35     un          0          0          0          0          0          0
 36     up         12         13         13         15         17         20
 37     ut          0          0          1          1          2          3
 38     wb          0          0          0          1          1          1

     20-Mar-20  21-Mar-20  22-Mar-20  ...  30-Jul-20  31-Jul-20  01-Aug-20  \
 0           0          0          0  ...        466        544        632
 1           3          5          6  ...     130557     140933     150209
 2           0          0          0  ...       1484       1591       1674
 3           0          0          0  ...      38306      40168      41625
 4           0          0          2  ...      48001      50987      54508
 5           5          5          6  ...       1016       1051       1079
 6           1          1          1  ...       8856       9192       9427
 7           0          0          0  ...          0          0          0
 8          20         27         27  ...     134403     135598     136716
 9           0          0          0  ...       1105       1151       1196
 10          0          0          0  ...       5704       5913       6193
 11          7         14         18  ...      60285      61438      62574
 12          2          2          2  ...       2506       2564       2634
 13         19         21         21  ...      34254      34965      35758
 14          0          0          0  ...      10399      11314      12104
 15          4          4          4  ...      19869      20359      20972
 16         15         20         26  ...     118632     124115     129287
 17         40         52         67  ...      22304      23614      24743
 18         10         13         13  ...       1378       1404       1462
 19          0          0          0  ...          0          0          0
 20         52         64         74  ...     411798     422118     431719
 21          0          0          0  ...        803        823        856
 22          0          0          0  ...       2505       2621       2756
 23          4          4          6  ...      30968      31806      32614
 24          0          0          0  ...        408        408        413
 25          0          0          0  ...       1566       1693       1831
 26          2          2          2  ...      30378      31877      33479
 27          3         13         21  ...      15456      16119      17063
 28          1          1          1  ...       3300       3474       3608
 29         17         24         28  ...      40936      42083      43243
 30          0          0          0  ...        623        652        663
 31         19         21         27  ...      60717      62703      64786
 32          3          6          9  ...     239978     245859     251738
 33          0          0          0  ...       4722       4996       5248
 34        256        334        401  ...    1639476    1696962    1752079
 35          0          0          0  ...          0          0          0
 36         24         28         30  ...      81039      85461      89048
 37          3          3          3  ...       7065       7183       7447
 38          2          4          7  ...      67692      70188      72777

     02-Aug-20  03-Aug-20  04-Aug-20  05-Aug-20  06-Aug-20  07-Aug-20  \
 0         730        826        924       1023       1119       1218
 1      158764     166586     176333     186461     196789     206960
 2        1698       1758       1790       1855       1948       2049
 3       42803      45174      48060      50344      52716      55395
 4       57270      59567      62031      64732      68148      71794
 5        1117       1160       1206       1270       1327       1374
 6        9608       9820      10202      10497      11020      11408
 7           0          0          0          0          0          0
 8      137677     138482     139156     140232     141531     142723
 9        1251       1286       1329       1374       1417       1461
 10       6530       6816       7075       7423       7614       7947
 11      63675      64684      65704      66777      67811      68885
 12       2703       2818       2879       2916       3047       3150
 13      36519      37173      37796      38548      39303      40054
 14      12559      13500      14070      15048      15756      16482
 15      21416      22006      22396      22955      23454      23927
 16     134819     139571     145830     151449     158254     164924
 17      25912      26873      27956      29151      30449      31700
 18       1466       1485       1534       1592       1595       1614
 19          0          0          0          0          0          0
 20     441228     450196     457956     468265     479779     490262
 21        874        902        917        939        990       1006
 22       2831       2920       3018       3093       3217       3466
 23      33535      34285      35082      35734      36564      37298
 24        470        496        502        505        538        559
 25       1935       2129       2405       2498       2580       2657
 26      34913      36297      37681      39018      40717      42550
 27      17853      18527      19015      19856      20891      21930
 28       3808       3984       4149       4435       4623       4864
 29      44410      45555      46679      47845      48996      50157
 30        671        701        796        813        842        867
 31      66677      67660      68946      70958      73050      75257
 32     257613     263222     268285     273460     279144     285024
 33       5389       5389       5520       5642       5740       5868
 34    1804751    1855239    1906521    1963147    2025317    2086772
 35          0          0          0          0          0          0
 36      92921      97362     100310     104388     108974     113378
 37       7593       7800       8008       8254       8623       8901
 38      75516      78232      80984      83800      86754      89666

     08-Aug-20
 0        1347
 1      217040
 2        2117
 3       57613
 4       75786
 5        1426
 6       11855
 7           0
 8      144127
 9        1512
 10       8206
 11      69986
 12       3264
 13      40843
 14      17468
 15      24390
 16     172102
 17      33120
 18       1639
 19          0
 20     503084
 21       1023
 22       3635
 23      38157
 24        567
 25       2688
 26      44193
 27      22928
 28       5125
 29      51328
 30        873
 31      77513
 32     290907
 33       6014
 34    2151928
 35          0
 36     118038
 37       9402
 38      92615

 [39 rows x 149 columns],
    states  14-Mar-20  15-Mar-20  16-Mar-20  17-Mar-20  18-Mar-20  19-Mar-20  \
 0      an          0          0          0          0          0          0
 1      ap          0          0          0          0          0          0
 2      ar          0          0          0          0          0          0
 3      as          0          0          0          0          0          0
 4      br          0          0          0          0          0          0
 5      ch          0          0          0          0          0          0
 6      ct          0          0          0          0          0          0
 7      dd          0          0          0          0          0          0
 8      dl          1          1          1          1          1          1
 9      dn          0          0          0          0          0          0
 10     ga          0          0          0          0          0          0
 11     gj          0          0          0          0          0          0
 12     hp          0          0          0          0          0          0
 13     hr          0          0          0          0          0          0
 14     jh          0          0          0          0          0          0
 15     jk          0          0          0          0          0          0
 16     ka          1          1          1          1          1          1
 17     kl          0          0          0          0          0          0
 18     la          0          0          0          0          0          0
 19     ld          0          0          0          0          0          0
 20     mh          0          0          0          1          1          1
 21     ml          0          0          0          0          0          0
 22     mn          0          0          0          0          0          0
 23     mp          0          0          0          0          0          0
 24     mz          0          0          0          0          0          0
 25     nl          0          0          0          0          0          0
 26     or          0          0          0          0          0          0
 27     pb          0          0          0          0          0          1
 28     py          0          0          0          0          0          0
 29     rj          0          0          0          0          0          0
 30     sk          0          0          0          0          0          0
 31     tg          0          0          0          0          0          0
 32     tn          0          0          0          0          0          0
 33     tr          0          0          0          0          0          0
 34     tt          2          2          2          3          3          4
 35     un          0          0          0          0          0          0
 36     up          0          0          0          0          0          0
 37     ut          0          0          0          0          0          0
 38     wb          0          0          0          0          0          0

     20-Mar-20  21-Mar-20  22-Mar-20  ...  30-Jul-20  31-Jul-20  01-Aug-20  \
 0           0          0          0  ...          3          5          7
 1           0          0          0  ...       1281       1349       1407
 2           0          0          0  ...          3          3          3
 3           0          0          0  ...         98        102        105
 4           0          0          1  ...        285        298        312
 5           0          0          0  ...         14         15         18
 6           0          0          0  ...         51         54         55
 7           0          0          0  ...          0          0          0
 8           1          1          1  ...       3936       3963       3989
 9           0          0          0  ...          2          2          2
 10          0          0          0  ...         42         45         48
 11          0          0          1  ...       2418       2440       2464
 12          0          0          0  ...         13         13         13
 13          0          0          0  ...        417        421        428
 14          0          0          0  ...        103        106        114
 15          0          0          0  ...        365        377        388
 16          1          1          1  ...       2237       2321       2419
 17          0          0          0  ...         71         74         82
 18          0          0          0  ...          7          7          7
 19          0          0          0  ...          0          0          0
 20          1          1          2  ...      14728      14993      15315
 21          0          0          0  ...          5          5          5
 22          0          0          0  ...          4          5          6
 23          0          0          0  ...        858        868        877
 24          0          0          0  ...          0          0          0
 25          0          0          0  ...          4          4          4
 26          0          0          0  ...        205        214        225
 27          1          1          1  ...        370        386        405
 28          0          0          0  ...         48         49         51
 29          0          0          0  ...        667        680        694
 30          0          0          0  ...          1          1          1
 31          0          0          0  ...        505        519        530
 32          0          0          0  ...       3841       3935       4034
 33          0          0          0  ...         21         21         23
 34          4          4          7  ...      35801      36565      37419
 35          0          0          0  ...          0          0          0
 36          0          0          0  ...       1587       1630       1677
 37          0          0          0  ...         76         80         83
 38          0          0          0  ...       1536       1581       1629

     02-Aug-20  03-Aug-20  04-Aug-20  05-Aug-20  06-Aug-20  07-Aug-20  \
 0           8         10         12         14         16         19
 1        1474       1537       1604       1681       1753       1842
 2           3          3          3          3          3          3
 3         109        113        119        125        130        136
 4         322        336        349        369        388        400
 5          19         19         20         20         20         23
 6          58         61         69         71         77         87
 7           0          0          0          0          0          0
 8        4004       4021       4033       4044       4059       4082
 9           2          2          2          2          2          2
 10         53         56         60         64         66         70
 11       2486       2508       2533       2556       2583       2605
 12         13         13         13         13         13         13
 13        433        440        448        455        458        467
 14        118        125        129        136        145        151
 15        396        407        417        426        436        449
 16       2503       2601       2711       2811       2904       3005
 17         83         85         88         95         98        103
 18          7          7          7          7          7          9
 19          0          0          0          0          0          0
 20      15575      15841      16141      16475      16791      17091
 21          5          5          5          5          5          5
 22          7          7          7          7          8         10
 23        887        901        913        930        947        963
 24          0          0          0          0          0          0
 25          4          4          4          6          6          7
 26        236        248        258        269        280        292
 27        423        442        462        491        517        539
 28         52         56         58         65         70         75
 29        706        719        732        745        757        767
 30          1          1          1          1          1          1
 31        540        551        563        576        589        601
 32       4132       4241       4349       4461       4571       4690
 33         27         27         28         30         31         36
 34      38179      38985      39834      40753      41652      42589
 35          0          0          0          0          0          0
 36       1730       1778       1817       1857       1918       1981
 37         86         90         95         98        102        112
 38       1678       1731       1785       1846       1902       1954

     08-Aug-20
 0          20
 1        1939
 2           3
 3         144
 4         419
 5          24
 6          90
 7           0
 8        4098
 9           2
 10         72
 11       2628
 12         13
 13        474
 14        160
 15        459
 16       3098
 17        107
 18          9
 19          0
 20      17366
 21          6
 22         11
 23        978
 24          0
 25          7
 26        307
 27        562
 28         80
 29        778
 30          1
 31        615
 32       4808
 33         37
 34      43464
 35          0
 36       2028
 37        117
 38       2005

 [39 rows x 149 columns])

In [58]:
#hide
dft_cases_old = pd.read_csv('data/SnapshotCases-28-July.csv')
dft_deaths_old = pd.read_csv('data/SnapshotDeaths-28-July.csv')

In [59]:
#hide
dft_cases_old.head()

,states,14-Mar-20,15-Mar-20,16-Mar-20,17-Mar-20,18-Mar-20,19-Mar-20,20-Mar-20,21-Mar-20,22-Mar-20,...,19-Jul-20,20-Jul-20,21-Jul-20,22-Jul-20,23-Jul-20,24-Jul-20,25-Jul-20,26-Jul-20,27-Jul-20,28-Jul-20
0,Andaman and Nicobar Islands,0,0,0,0,0,0,0,0,0,...,199,203,208,217,236,255,286,314,334,359
1,Andhra Pradesh,1,1,1,1,1,3,3,5,6,...,49650,53724,58668,64713,72711,80858,88671,96298,102349,110297
2,Arunachal Pradesh,0,0,0,0,0,0,0,0,0,...,740,790,858,949,991,1056,1126,1158,1239,1330
3,Assam,0,0,0,0,0,0,0,0,0,...,23898,24991,26671,27643,28690,29820,30985,32127,33475,34846
4,Bihar,0,0,0,0,0,0,0,0,2,...,26379,27455,28564,30066,31691,33511,36314,38919,41111,43591

In [60]:
#hide
dft_deaths_old.head()

,states,14-Mar-20,15-Mar-20,16-Mar-20,17-Mar-20,18-Mar-20,19-Mar-20,20-Mar-20,21-Mar-20,22-Mar-20,...,19-Jul-20,20-Jul-20,21-Jul-20,22-Jul-20,23-Jul-20,24-Jul-20,25-Jul-20,26-Jul-20,27-Jul-20,28-Jul-20
0,Andaman and Nicobar Islands,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
1,Andhra Pradesh,0,0,0,0,0,0,0,0,0,...,642,696,758,823,884,933,985,1041,1090,1148
2,Arunachal Pradesh,0,0,0,0,0,0,0,0,0,...,3,3,3,3,3,3,3,3,3,3
3,Assam,0,0,0,0,0,0,0,0,0,...,61,62,68,70,74,80,81,83,90,92
4,Bihar,0,0,0,0,0,0,0,0,1,...,179,187,198,208,212,221,232,249,255,269

In [61]:
#hide
dt_today_old = '28-Jul-20'
dt_yday_old = '27-Jul-20'

In [62]:
#hide

# Get the latest count of the total number of cases for each state across India, and also one from a day before

#Here past cases are a day earlier, but this can be changed
dfc_cases_old = dft_cases_old.groupby('states')[dt_today_old].sum()
dfc_deaths_old = dft_deaths_old.groupby('states')[dt_today_old].sum()
dfp_cases_old = dft_cases_old.groupby('states')[dt_yday_old].sum()
dfp_deaths_old = dft_deaths_old.groupby('states')[dt_yday_old].sum()

dfc_cases = dft_cases.groupby('states')[dt_today_old].sum()
dfc_deaths = dft_deaths.groupby('states')[dt_today_old].sum()
dfp_cases = dft_cases.groupby('states')[dt_yday_old].sum()
dfp_deaths = dft_deaths.groupby('states')[dt_yday_old].sum()

In [63]:
#hide
dfc_cases, dfc_cases_old

(states
 an        359
 ap     110297
 ar       1330
 as      34846
 br      43591
 ch        934
 ct       8286
 dd          0
 dl     132275
 dn       1032
 ga       5287
 gj      57982
 hp       2330
 hr      32876
 jh       9563
 jk      18879
 ka     107001
 kl      20895
 la       1327
 ld          0
 mh     391440
 ml        779
 mn       2317
 mp      29217
 mz        384
 nl       1460
 or      28107
 pb      14378
 py       3013
 rj      38636
 sk        592
 tg      57142
 tn     227688
 tr       4287
 tt    1532029
 un          0
 up      73951
 ut       6587
 wb      62964
 Name: 28-Jul-20, dtype: int64,
 states
 Andaman and Nicobar Islands       359
 Andhra Pradesh                 110297
 Arunachal Pradesh                1330
 Assam                           34846
 Bihar                           43591
 Chandigarh                        934
 Daman and Diu                       0
 Delhi                          132275
 Goa                              5287
 Gujarat                         57982
 Haryana                         32876
 Himachal Pradesh                 2330
 Jammu and Kashmir               18879
 Jharkhand                        9563
 Karnataka                      107001
 Kerala                          20895
 Lakshadweep                         0
 Madhya Pradesh                  29217
 Maharashtra                    391440
 Manipur                          2317
 Meghalaya                         779
 Mizoram                           384
 Nagaland                         1460
 Orissa                          28107
 Pondicherry                      3013
 Punjab                          14378
 Rajasthan                       38636
 Sikkim                            592
 Tamil Nadu                     227688
 Telangana                       57142
 Tripura                          4287
 Uttar Pradesh                   73951
 West Bengal                     62964
 Name: 28-Jul-20, dtype: int64)

In [64]:
#hide
dfc_cases = dft_cases.groupby('states')[dt_today].sum()
dfc_deaths = dft_deaths.groupby('states')[dt_today].sum()
dfp_cases = dft_cases.groupby('states')[dt_yday].sum()
dfp_deaths = dft_deaths.groupby('states')[dt_yday].sum()

In [65]:
#hide
dfc_cases_series = pd.Series(dfc_cases, name="Cases")
dfc_deaths_series = pd.Series(dfc_deaths, name="Deaths")
dfp_cases_series = pd.Series(dfp_cases, name="PCases")
dfp_deaths_series = pd.Series(dfp_deaths, name="PDeaths")
df_table = pd.concat([dfc_cases_series, dfc_deaths_series, dfp_cases_series, dfp_deaths_series], axis=1)
df_table.head()

         Cases  Deaths  PCases  PDeaths
states
an        1347      20    1218       19
ap      217040    1939  206960     1842
ar        2117       3    2049        3
as       57613     144   55395      136
br       75786     419   71794      400

In [66]:
#hide
df_table.sort_values(by = ['Cases','Deaths'], ascending = [False, False], inplace=True)
df_table.head()

          Cases  Deaths   PCases  PDeaths
states
tt      2151928   43464  2086772    42589
mh       503084   17366   490262    17091
tn       290907    4808   285024     4690
ap       217040    1939   206960     1842
ka       172102    3098   164924     3005

In [67]:
#hide
df_table.reset_index(inplace=True)
df_table.head()

  states    Cases  Deaths   PCases  PDeaths
0     tt  2151928   43464  2086772    42589
1     mh   503084   17366   490262    17091
2     tn   290907    4808   285024     4690
3     ap   217040    1939   206960     1842
4     ka   172102    3098   164924     3005

In [68]:
#hide
for c in 'Cases, Deaths'.split(', '):
    df_table[f'{c} (+)'] = (df_table[c] - df_table[f'P{c}']).clip(0)
df_table['Fatality Rate'] = (100* df_table['Deaths']/ df_table['Cases']).round(2)

In [69]:
#hide
df_table.head()

,states,Cases,Deaths,PCases,PDeaths,Cases (+),Deaths (+),Fatality Rate
0,tt,2151928,43464,2086772,42589,65156,875,2.02
1,mh,503084,17366,490262,17091,12822,275,3.45
2,tn,290907,4808,285024,4690,5883,118,1.65
3,ap,217040,1939,206960,1842,10080,97,0.89
4,ka,172102,3098,164924,3005,7178,93,1.80

In [77]:
#hide
summary = dict()
summary['updated'] = datetime.now().strftime("%d-%b-%Y (%H:%M:%S)")
summary['since'] = dt_yday
summary

{'updated': '09-Aug-2020 (13:04:39)', 'since': '07-Aug-20'}

In [71]:
#hide
df_table_mod = df_table.drop(['states', 'Fatality Rate'], axis = 1)
df_table_mod.head()

     Cases  Deaths   PCases  PDeaths  Cases (+)  Deaths (+)
0  2151928   43464  2086772    42589      65156         875
1   503084   17366   490262    17091      12822         275
2   290907    4808   285024     4690       5883         118
3   217040    1939   206960     1842      10080          97
4   172102    3098   164924     3005       7178          93

In [72]:
#hide
for col_names, col_values in df_table_mod.iteritems():
    #print(col_names, col_values)
    summary[col_names] = col_values.sum()
summary

{'updated': '08-Aug-20',
 'since': '07-Aug-20',
 'Cases': 4303859,
 'Deaths': 86929,
 'PCases': 4173547,
 'PDeaths': 85179,
 'Cases (+)': 130312,
 'Deaths (+)': 1750}

In [73]:
#hide
overview = '''
<!-- #######  HTML!! #########-->
<h1 style="color: #5e9ca0; text-align: center;">India</h1>
<p style="text-align: center;">Last update: <strong>{update}</strong></p>
<p style="text-align: center;">Confirmed cases:</p>
<p style="text-align: center;font-size:24px;">{cases} (<span style="color: #ff0000;">+{new}</span>)</p>
<p style="text-align: center;">Confirmed deaths:</p>
<p style="text-align: center;font-size:24px;">{deaths} (<span style="color: #ff0000;">+{dnew}</span>)</p>
'''

In [74]:
#hide
# Fill the above HTML with the information from the summary dictionary

update = summary['updated']
cases = summary['Cases']
new = summary['Cases (+)']
deaths = summary['Deaths']
dnew = summary['Deaths (+)']

html = HTML(overview.format(update=update, cases=cases,new=new,deaths=deaths,dnew=dnew))

In [76]:
#hide
dt_cols = list(dft_cases.columns[1:])
dft_ct_new_cases = dft_cases.groupby('states')[dt_cols].sum().diff(axis=1).fillna(0).astype(int)
dft_ct_new_cases.sort_values(by = dt_today, ascending = False,inplace = True)

In [ ]:
#hide_input
display(html)

In [ ]:
#hide
dft_ct_new_cases.head()

In [ ]:
#hide_input
df = dft_ct_new_cases.copy()
df.loc['Total'] = df.sum()
n = 5
ax = []
fig = plt.figure(figsize = (16,20))
gs = fig.add_gridspec(n+2, 3)
# gs = fig.add_gridspec(2, 3)
ax1 = fig.add_subplot(gs[0, :])
ef = df.loc['Total'].rename_axis('date').reset_index()
ef['date'] = ef['date'].astype('datetime64[ns]')
ax1.bar(ef.date,ef.Total,alpha=0.3,color='#007acc')
ax1.plot(ef.date,ef.Total , marker="o", color='#007acc')
ax1.xaxis.set_major_locator(mdates.WeekdayLocator())
ax1.xaxis.set_major_formatter(mdates.DateFormatter('%b %d'))
ax1.text(0.02, 0.5,'India daily case count', transform = ax1.transAxes, fontsize=25);
ax1.spines['right'].set_visible(False)
ax1.spines['top'].set_visible(False)

ax2 = fig.add_subplot(gs[1,0])
ef = df.loc['mh'].rename_axis('date').reset_index()
ef['date'] = ef['date'].astype('datetime64[ns]')

ax2.bar(ef.date, ef.mh,color = '#007acc',alpha=0.5)
ax2.xaxis.set_major_locator(mdates.WeekdayLocator())
ax2.xaxis.set_major_formatter(mdates.DateFormatter('%b %d'))
ax2.set_xticks(ax2.get_xticks()[::3])
maxyval = ef.mh.max()
ax2.set_ylim([0,maxyval])
ax2.text(0.05, 0.5,'Maharashtra', transform = ax2.transAxes, fontsize=20);
ax2.spines['right'].set_visible(False)
ax2.spines['top'].set_visible(False)


ax3 = fig.add_subplot(gs[1,1])
ef = df.loc['tn'].rename_axis('date').reset_index()
ef['date'] = ef['date'].astype('datetime64[ns]')
ax3.bar(ef.date, ef['tn'],color = '#007acc',alpha=0.5,)
ax3.xaxis.set_major_locator(mdates.WeekdayLocator())
ax3.xaxis.set_major_formatter(mdates.DateFormatter('%b %d'))
ax3.set_xticks(ax3.get_xticks()[::3])
ax3.text(0.05, 0.5,'Tamil Nadu', transform = ax3.transAxes, fontsize=20);
ax3.spines['right'].set_visible(False)
ax3.spines['top'].set_visible(False)

ax4 = fig.add_subplot(gs[1,2])
ef = df.loc['dl'].rename_axis('date').reset_index()
ef['date'] = ef['date'].astype('datetime64[ns]')
ax4.bar(ef.date, ef.dl,color = '#007acc',alpha=0.5)
ax4.set_xticks([])
ax4.xaxis.set_major_locator(mdates.WeekdayLocator())
ax4.xaxis.set_major_formatter(mdates.DateFormatter('%b %d'))
ax4.set_xticks(ax4.get_xticks()[::3])
ax4.spines['right'].set_visible(False)
ax4.spines['top'].set_visible(False)

ax4.text(0.05, 0.5,'Delhi', transform = ax4.transAxes, fontsize=20)

for i in range(n):
    
    ax.append(fig.add_subplot(gs[i+2,:]))
    ef = df.iloc[i+3].rename_axis('date').reset_index()
    ef['date'] = ef['date'].astype('datetime64[ns]')
    ax[i].bar(ef.date,ef.iloc[:,-1],color = '#007acc',alpha=0.3)
    ax[i].plot(ef.date,ef.iloc[:,-1],marker='o',color='#007acc')
    ax[i].text(0.02,0.5,f'{ef.columns.values[-1]}',transform = ax[i].transAxes, fontsize = 20);
    ax[i].xaxis.set_major_locator(mdates.WeekdayLocator())
    ax[i].xaxis.set_major_formatter(mdates.DateFormatter('%b %d'))
    ax[i].set_ylim([0,7000])
    ax[i].spines['right'].set_visible(False)
    ax[i].spines['top'].set_visible(False)
plt.tight_layout()

In [ ]:
#hide_input
print(df_table.to_string(index=False))

@misc{covid19indiaorg2020tracker,
  author = {COVID-19 India Org Data Operations Group},
  title = ,
  howpublished = {Accessed on yyyy-mm-dd from \url{https://api.covid19india.org/}},
  year = 2020
}